body {
    max-width: 100%;
    margin: 10px auto;
}

.main-card {

    max-width: 1200px;
    margin: 10px auto;
}

.find-gallery {
    width: 60%;
    text-align: center;
    margin: 10px auto;

}

/* .photo {
    position: relative;
} */

.photo img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 10px auto;
}

/* .photo-main img {

    width: 50%;
    height: 50%;
} */

/* .first-page {

    width: 50%;
    height: 50%;
} */

.next {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    /* background-color: rgb(252, 15, 3) */
}

.resolution {
    width: 50%;
    margin: 10px;
  
}

.rest {
    text-align: center;
    margin-top: 160px;
}

.middle {
    display: block;
    margin: 10px auto;

}