
.main-header {
	background: black;
	text-align: center;
	padding: 3px;
}


.card-header {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.result-header {
	background:  rgb(246, 170, 25);
	text-align: center;
	padding: 3px;

}

.resultRepeat-header {
	background: black;
	text-align: center;
	padding: 3px;

}

.main-footer {
	background: black;
	color: rgb(246, 170, 25);
	padding: 20px;
	text-align: center;
}

.card-footer {
	text-align: center;
	padding: 5px;
}

.result-footer {
	text-align: center;
	padding: 5px;
}
